*{margin:0; padding: 0; box-sizing: border-box;}

h1{color: rgb(0, 0, 0); width: 100%; text-align: center;}

a{color: #333;}

.btnAcao{height:20px; width: 20px; }

table {width: 50%;}
.trSelect {background: #333; color: #fff; font-weight: bold; padding: 15;}

a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    text-decoration: none;
    color: initial;
}
