<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <title>TESTE FULL CYCLE</title>
        <link rel='stylesheet' href='/css/style.css'> 
    </head>
    <body>
        {{{body}}}
        <script src='/js/javascript.js'></script>
    </body>
</html>