<table>
    <tr>
        <td>
            <h1>Os dados de {{name}} foram inseridos!</h1>
        </td>
    </tr>
    <tr>
        <td align="right">
            <input type="button" onclick="location.href='/';" value="Voltar" />
        </td>
    </tr>
</table>


 