<table>
    <tr>
        <td>
            <h1>Aluno foi deletado com sucesso!</h1>
        </td>
    </tr>
    <tr>
        <td align="right">
            <input type="button" onclick="location.href='/';" value="Voltar" />
        </td>
    </tr>
</table>
