<form name="form2" action="ctlUpdate" method="post">
     {{#data}}
    <table border="1">
        <tr>
            <td colspan="2" align="center" bgcolor="black">
            <img src="/img/fullCycle.png">
        </td>
        </tr>
        <tr>
            <td colspan="2">
                <h1>Cadastro de Aluno</h1>
            </td>
        </tr>
          <tr>
            <td width="15%">Código:</td>
            <td widtth="75%">
                <input type="hiden" name="id" id="id" value='{{id}}' style="width:100px;">
            </td>
        </tr>
        <tr>
            <td width="15%">Aluno:</td>
            <td widtth="75%">
                <input type="text" name="name" id="name" value='{{name}}' style="width:300px;">
            </td>
        </tr>
        <tr>            
             <td colspan="2" align="right">
                 <input type="submit" name="btnSubmit" id="btnSubmit" value="Salvar">
                 <input type="button" onclick="location.href='/';" value="Voltar" />
            </td>
        </tr>
    </table>
     {{/data}}
</form>